@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@media screen and (max-width: 2400px){
  #local {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
  .wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
  
  .fix-section{
    margin-top:4em;
    color:blue;

  }
}

@media screen and (max-width:992px) {
  #intro, #equipo {
    width: 90% !important;
  }

  #equipo .p{
    display: none;
  }
  
  
  #bg-contacto {
    top: -110px;
  }
  
  .fix-section{
    margin-top:4em;
    color:red;
  }
}


@media screen and (max-width:768px) {
  #intro, #equipo {
    width: 90% !important;
  }

  #equipo .p{
    display: none;
  }
  
  
  #bg-contacto {
    top: -110px;
  }
  
  .fix-section{
    margin-top:4em;
    color:red;
  }
}

@media screen and (max-width: 576px){
  .icon-wrap{
    flex-wrap: wrap;
    justify-content: center !important;
  }


  .fix-section{
    margin-top:10em;
    color:green;

  }
  
}


.body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

#menu form > button {
  font-size: 18px;
  font-weight: bold;
}



  


#seccion-contacto {
  background-color: #1b2a4e;
  min-height: 500px;
  position: relative;
}



footer {
  background: #1b2a4e;
  min-height: 100px;
  
}

footer p {
  color: #f3f3f3;
  text-align: center;
  
}

#iconos i {
  font-size: 30px;
  padding: 0 8px;
  color: #f3f3f3;
}

.bground {
  background-color: #fbfafa;
}

.img {
  max-height: 39rem;
  border: 1cm;
  height: auto;
  width: auto/9; 
} 
.center {
  margin: auto;
} 

.txt-justify{
  text-align: text-justify;
}