@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bground {
    background-color: rgb(59, 64, 64);
}

img {
    max-height: 40rem;
  }

.center {
    margin: auto;
  }