@media screen and (max-width:2400px){
  .slideDot {  
    height: 25px;
    width: 25px;
  }

  .sliderImage{
    width: 75%;
  }
}

@media screen and (max-width:1200px){
  .slideDot {  
    height: 30px;
    width: 30px;
  }

  .sliderImage{
    width: 80%;
  }
}

@media screen and (max-width:800px){
  .slideDot {  
    height: 35px;
    width: 35px;
  }

  .sliderImage{
    width: 90%;
  }
}
 
@media screen and (max-width:600px){
  .slideDot {  
    height: 40px;
    width: 40px;
  }

  .sliderImage{
    width: 95%;
  }
} 



.sliderImage{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

* {box-sizing:border-box}

/* Hide the images by default */
.slideMySlides {
  display: none;
}

/* Next & previous buttons */
.slidePrev, .slideNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1em;
  padding: 16px;
  color: gray !important;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideNext {
  right: 1em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slidePrev:hover, .slideNext:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideTextCaption {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slideNumberText {
  color: #f2f2f2;
  margin-left: 50%;
  width:50%;
  border: 3px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideDot {
  cursor: pointer;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.sliderDotActive {
  background-color: #717171;
}

.sliderDotNotActive{
  background-color: #bbb;
}
.sliderDotGroup{
  padding-bottom:1em;
}


/* Fading animation */
.sliderFadeIn {
  animation-name: fadeIn;
  /* -webkit-animation-name: fadeIn; */
  /* -moz-animation-name: fadeIn; */
  /* -o-animation-name: fadeIn; */
  /* -ms-animation-name: fadeIn; */
  animation-duration: 1.5s;
}

@keyframes fadeIn {
  from {opacity: .4}
  to {opacity: 1}
}